body {
  font-family: 'Computer Modern Serif', Times, serif;
  margin: 2rem;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #5b5b66;
    cursor: pointer;
}

div.clearfix {
    clear: both;
}

div.spacer {
    min-height: 12px;
}

/* Toggle button */
.mode-toggle {
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    gap: 10px;
    padding-right: 4px;
    margin-right: 18px;
    cursor: pointer;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    color: #555;
    transition: color 200ms ease, fill 200ms ease, stroke 200ms ease;
}

.icon.sun path {
    fill: none;
}

.icon.moon path {
    fill: none;
}

.switch-bar {
    position: relative;
    width: 1.5rem;
    height: 1.25rem;
    background: #e0e0e0;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
}

.switch-dot {
    width: .75rem;
    height: .75rem;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0.25rem;
    transition: left 0.3s ease;
}

/* Dark mode */
body[data-mode="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-mode="dark"] h1 {
    color: #bdc3c7;
}

body[data-mode="dark"] .icon {
    color: #cbcbcb;
}

body[data-mode="dark"] .switch-dot {
    left: calc(100% - 1rem); /* Moves dot to right */
}

body[data-mode="dark"] .icon.sun path {
    fill: currentcolor;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-opacity: 0.95;
}

body[data-mode="dark"] .icon.moon path {
    fill: currentcolor;
}
