body {
  font-family: 'Computer Modern Serif', Times, serif;
  margin: 2rem;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #5b5b66;
    cursor: pointer;
}

#theme-switcher.light:hover {
    background-color: #ededed;
    color: #191919;
    border-color: #333;
}

/* ===== Dark theme ===== */
body[data-theme="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-theme="dark"] h1 {
    color: #bdc3c7;
}

body[data-theme="dark"] .btn, body[data-theme="dark"] a {
    color: #e1e1e1;
}

body[data-theme="dark"] .btn {
    background-color: #333;
    border: 1px solid #ededed;
}

#theme-switcher.dark:hover {
    background-color: #191919;
    color: #dedede;
    border-color: #ededed;
}

/* ===== Orange theme ===== */
body[data-theme="orange"], body[data-theme="orange"] h1 {
    color: #985511;
}

body[data-theme="orange"] .btn, body[data-theme="orange"] a {
    color: #a55c21;
}

body[data-theme="orange"] .btn {
    background-color: #ffe5cc;
    border: 1px solid #ff8c42;
}

#theme-switcher.orange:hover {
    background-color: #ffe5cc;
    color: #e67e22;
    border-color: #a55c21;
}

/* ===== Green theme ===== */
body[data-theme="green"], body[data-theme="green"] h1 {
    color: #1C4E2A;
}

body[data-theme="green"] .btn,
body[data-theme="green"] a {
    color: #2E7D32;
}

body[data-theme="green"] .btn {
    background-color: #EAF6EA;
    border: 1px solid #43A047;
}

#theme-switcher.green:hover {
    background-color: #e7f7ec;
    color: #2a7a3d;
    border-color: #27ae60;
}
